/* This CSS file controls small parts of how the website looks.
The _pkgdown.yml file controls most of it. */

body {
	font-size: 1.2rem;  /* increase readability */
}

h2 {
	margin-top: 2.5rem; /* for more spacing between sections */
}

a:not(.sourceCode) {
	color: #B509AC;     /* to match the link color on Toby's website 
	                       unless the link is in a codeblock */
}