/* This CSS file controls small parts of how the website looks.
The _pkgdown.yml file controls most of it. */

body:not(.sourceCode) {
	font-size: 1.2rem;   /* increase readability but keep
                            codeblock font size the same */
}

h2 {
	margin-top: 2.5rem;  /* for more spacing between sections */
}

aside.col-md-3 > div > h2 {
	font-size: 1.1rem;
	font-weight: 600;    /* to make the side column's headings
	                        just a tiny bit prettier */
}

a:not(.sourceCode, .navbar-brand, .nav-link) {
    color: #B509AC;      /* to match the link color on Toby's 
	                        website unless the link is in a 
						    codeblock or the navigation bar */
}

div#unnamedchunk6,
div#unnamedchunk7,
div#unnamedchunk8,
div#unnamedchunk9 {
	margin-bottom: 1rem; /* so there's a lil more space
	                        between the animints and
							paragraphs */
}